





*{font-family: Microsoft YaHei;text-shadow:0px 0px 2px #777;}
a{color:#FFF;text-decoration: none;}
#album img{height:100%;}
.header_wrap{

	width:337px;
	height:180px;
	background-image:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(46, 80, 102)), color-stop(1, rgb(29, 44, 70)));
	border-radius: 3px;
	box-shadow: 0 5px 15px #777;

}
.playlist_wrap{
	/*background-image: url("image/playlist_skin.bmp");*/
	background-color: rgb(37,63,96);
	border-radius: 3px;
	width:337px;
	height:160px;
	margin-top: 1px;
	-webkit-transition: opacity 1000ms;
	box-shadow: 0 5px 15px #777;

}
.top{
	 position: relative;
	 height: 25px;
}
.control{
	position: relative;
	height: 124px;
}
.tools{
	background-color: rgb(49,76,111);
	height:30px;
}

.controler{
	position: relative;
	float: left;
	width: 216px;
	height: 56px;
}
#logo{
	background-image: url("image/icon.png");
	background-position: -20px 3px;
	width:24px;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	height: 19px;
}
#redrock{
	color:#FFF;
	font-size: 12px;
	float: left;
    position: relative;
    margin-top: 7px;
}
#main_control{
	float: left;
	position: relative;
	width: 216px;
	height: 124px;

}

#set{
	background-image: url("image/set.png");
	float: right;
	margin-right: 5px;
	position:relative;
	width:18px;
	height: 18px;
	margin-top: 4px;
	
}

#set:hover{
	cursor:pointer;
	background-position:-18px 0px;

}

#set:active{
	cursor:pointer;
	background-position:-36px 0px;

}

#minimize{
	background-image: url("image/minimize.png");
	position:relative;
	float: right;
	margin-right: 5px;
	width:18px;
	height: 18px;
	margin-top: 4px;

}

#minimize:hover{
	cursor:pointer;
	background-position:-18px 0px;

}

#minimize:active{
	cursor:pointer;
	background-position:-36px 0px;
	background-image: url("image/minimize.png");

}

#minimode{
	background-image: url("image/minimode.png");
	position:relative;
	float: right;
	margin-right: 5px;
	width:18px;
	height: 18px;
	margin-top: 4px;

}

#minimode:hover{
	cursor:pointer;
	background-position:-18px 0px;
}

#minimode:active{
	cursor:pointer;
	background-position:-36px 0px;
}

#close{
	background-image: url("image/close.png");
	position:relative;
	float: right;
	margin-right: 5px;
	width:18px;
	height: 18px;
	margin-top: 4px;
}

#close:hover{
	cursor:pointer;
	background-position:-18px 0px;
}

#close:active{
	cursor:pointer;
	background-position:-36px 0px;
}

#album{
	border-radius: 3px;
	float:left;
	position: relative;
	margin-top:14px;
	margin-left:14px;
	margin-right: 14px;
	width:93px;
	height:93px;
	overflow: hidden;
}

#jdt_wrap{

	float: left;
	position:relative;
	width: 160px;
	height: 28px;
	margin-top: 0px;
	margin-left: 0px;
}
#ed{
	background-color: rgb(160,155,245);
	border-radius: 2px;
	float: left;
	position:relative;
    width: 0px;
	height: 4px;

}
#jdt{
	float: left;
	position:relative;
	box-shadow: 0 0 10px rgb(105,192,252);
    background: white;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin-top: -4px;
}
#jdt:hover{
	cursor:pointer;
}
#jdt:active{
	cursor:pointer;
}

#title{
	float: left;
	font-size: 12px;
	color:#FFF;
	position:relative;
	width:140px;
	height:16px;
	margin-top: 16px;
	margin-left:12px;
	margin-right: 12px;
	overflow: hidden;

}
#love{
	float: left;
	position: relative;
	width:22px;
	height: 16px;
	margin-top: 12px;
	margin-bottom: 12px;
}
#share{
	float: left;
	position: relative;
	width:22px;
	height: 16px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#timer{
	width: 50px;
	margin-left: -2;
	float: left;
	position:relative;
	height: 15px;
	margin-top: 2px;

}
#time1{
	background-image: url("image/number.bmp");
	width:8px;
	height: 15px;
	position: relative;
	float: left;
	padding-right: 2px;
	z-index:10;

}
#time2{
	background-image: url("image/number.bmp");
	background-position: 0px 0px;
	width:8px;
	height: 15px;
	position: relative;
	float: left;
	padding-right: 2px;
	z-index:10;
}
#time0{
	background-image: url("image/number.bmp");
	background-position: 18px 0px;
	width:8px;
	height: 15px;
	position: relative;
	float: left;
	padding-right: 2px;
	z-index:10;
}
#time3{
	background-image: url("image/number.bmp");
	background-position: 0px 0px;
	width:8px;
	height: 15px;
	position: relative;
	float: left;
	padding-right: 2px;
	z-index:10;
}
#time4{
	background-image: url("image/number.bmp");
	background-position: 0px 0px;
	width:8px;
	height: 15px;
	position: relative;
	float: left;
	padding-right: 2px;
	z-index:10;
}
#sound{
	position: relative;
	float: left;
	height: 30px;
	width: 150px;

}

#commander{
	position: relative;
	float: left;
	height: 30px;
	width: 187px;
}
#sound_jdt{
	float: left;
	position:relative;
	box-shadow: 0 0 10px rgb(105,192,252);
    background: white;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin-top: 8px;
}
#sound_jdt:hover{
	cursor: pointer;
}

#sound_mute{
	background-image: url("image/mute.bmp");

	float: left;
	position:relative;
	margin-left: 8px;
	width: 15px;
	height: 15px;
	margin-top: 7px;		
}
#sound_ed{
	background-color: rgb(160,155,245);
	border-radius: 2px;
	float: left;
	position:relative;
    width: 75px;
	height: 4px;
	margin-top: 12px;
	margin-left: 14px;
}
#cmd_playlist,#cmd_equalizer,#cmd_lyrics{
	margin:5px 2px;
	height: 20px;
	position: relative;
	float: left;
	width: 39px;
}
#cmd_playlist{
	background-image: url("image/playlist.png");

}
#cmd_playlist:hover{
	background-position: -39px 0px;
	cursor: pointer;

}
#cmd_equalizer{
	background-image: url("image/equalizer.png");

}
#cmd_equalizer:hover{
	background-position: -39px 0px;
	cursor: pointer;
}
#cmd_lyrics{
	background-image: url("image/lyric.png");

}
#cmd_lyrics:hover{
	background-position: -39px 0px;
	cursor: pointer;
}
#cmd_musicWindow{
	background-image: url("image/browser.png");
	margin:5px 2px;
	height: 20px;
	position: relative;
	float: left;
	width:	49px;
}
#cmd_musicWindow:hover{
	background-position: -49px 0px;
	cursor: pointer;
}

#prev{
	position: relative;
	float: left;
	background-image: url("image/prev.png");
	width:48px;
	height:47px;
}

#play{
	position: relative;
	float: left;
	background-image: url("image/play.png");
	width:56px;
	height:56px;
	margin-top: -6px;
}

#pause{
	display: none;
	position: relative;
	float: left;
	background-image: url("image/pause.png");
	width:56px;
	height:56px;
	margin-top: -6px;
}

#next{
	position: relative;
	float: left;
	background-image: url("image/next.png");
	width:48px;
	height:47px;
}

#random{
	position: relative;
	float: left;
	background-image: url("image/mode_05.png");
	width:48px;
	height:40px;
}
#prev:hover{
	background-position: -45px 0px;
	cursor: pointer;
}
#play:hover{
	background-position: -56px 0px;
	cursor: pointer;
}
#pause:hover{
	background-position: -56px 0px;
	cursor: pointer;
}
#next:hover{
	background-position: -45px 0px;
	cursor: pointer;
}
#random:hover{
	background-position: -45px 0px;
	cursor: pointer;
}
#prev:active{
	background-position: -45px 0px;
	cursor: pointer;
	margin-top: 1px;
}
#play:active{
	background-position: -56px 0px;
	cursor: pointer;
	margin-top: -5px;
}
#pause:active{
	background-position: -56px 0px;
	cursor: pointer;
	margin-top: -5px;
}
#next:active{
	background-position: -45px 0px;
	cursor: pointer;
	margin-top: 1px;
}
#random:active{
	background-position: -45px 0px;
	cursor: pointer;
	margin-top: 1px;
}
#playlist_close{
	position: relative;
	float: right;
	margin-right: 5px;
	margin-top: 6px;
	background-image: url("image/close.png");
	width:18px;
	height: 18px;

}
#playlist_close:hover{
	cursor:pointer;
	background-position:-18px 0px;
}

#playlist_close:active{
	cursor:pointer;
	background-position:-36px 0px;
}

#playlist_left{
	position: relative;
	float: left;
	margin-top: 32px;
	width:62px;
	height: 99px;
	color:#FFF;
	font-size: 12px;
	text-align: center;
	background-color: rgb(31,49,75);
}
#playlist_scrollbar{
	position: relative;
	float: left;
	margin-top: 32px;
	background-image: url("image/scrollbar_bar.bmp");
	width:13px;
	height: 99px;
}
#playlist_scrollbar_button{
	position: relative;
	float: left;
	background-image: url("image/scrollbar_button.bmp");
	background-position: -1px 0px;
	width:13px;
	height: 16px;
	margin-top:38px;
}
#playlist_right{
	background-color: rgb(31,49,75);
	position: relative;
	float: left;
	margin-top: 8px;
	width:262px;
	height: 99px;
	color:#FFF;
	font-size: 12px;
}
span.plts{
	float: left;
	margin:5px 0;
	text-align: center;
	width: 62px;
}
span.musics{
	float: left;
	margin:5px;
	width: 252px;
	overflow: hidden;
	cursor: pointer;
}
span.musics a{color:#888;}
#long_jdt{
	float: left;
    position: absolute;
    height: 4px;
    width: 153px;
    margin-top: 8px;
    background-color: rgb(45,88,143);
    border-radius:2px;
}
#toolbar{
	background-image: url("image/playlist_toolbar.png");
	background-repeat: no-repeat;
	background-position: 5px;
	background-color: rgb(17,33,53);
	position: relative;
	float: left;
	width:337px;
	height:28px;
	margin:0px;
}

#sd{
	color:#FFF;
}
#playlist_logo {
	position: absolute;
    margin-top: 6px;
    margin-left: 7px;
    background-position: 0px 3px;
    padding-left: 18px;
    color:#FFF;
    font-size: 12px;
	background-image:url("image/playlist_logo.png");
	background-repeat: no-repeat;
	height:33px;
	width: 100px;
}


